/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 05/10/2022, 08:02:42
    Author     : otavio
*/

*{
    padding: 0;
    margin: 0;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(-1409deg, #fb2424, #ffc42e);
}
.box{
    width: 50%;
    height: 70%;
    background-color:rgb(35, 31, 31);
    border-radius: 15px;
}

.img{
    background: transparent;
}
.center{
    float: left;
    background: transparent;
    padding: 130px 0px 0px 80px;
}

.menu{
    margin-top: 75px;
    width: 50%;
    height: 70%;
    background: transparent;
    float: right;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    background: transparent;
    text-decoration: none;
    color: white;
    border: 2px solid red;
    margin: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    font-size: 16px;
}
a:hover{
    background: red;
}
h1{
    color: white;
    margin: 0px 0px 15px 0px;
    font-family: 'roboto';
}